body{
    text-align: center;
    background-color: pink;
}
.winner{
        color:blue;
        font-size:30px;
        font-family:'Allerta Stencil';

    
}
h1{
 font-family: 'Charmonman',cursive; 
}
h2{
    font-family: 'Charmonman',cursive; 
}
h3{
    font-family: 'Charmonman',cursive; 
}
h4{
    font-family: 'Charmonman',cursive; 
}